body {
    font-family: 'Lato', sans-serif;
}

#navbar {
    position: relative;

    .navbar {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;

        font-weight: 100;
        font-size: 1.1rem;

        .nav-item {
            margin-left: 3rem;
        }

        .nav-link {
            transition: all 400ms;
        }

        .nav-link:hover {
            transform: scale(1.2)
        }
    }

}




#showcase {
    background: url("../images/showcase.png") bottom center/cover no-repeat;
    min-height: 750px;

    .header {
        width: 55%;

        button {
            border-radius: 2rem;
            -webkit-box-shadow: 5px 10px 18px -1px rgba(0, 0, 0, 0.42);
            -moz-box-shadow: 5px 10px 18px -1px rgba(0, 0, 0, 0.42);
            box-shadow: 5px 10px 18px -1px rgba(0, 0, 0, 0.42);
        }

        button#consult {
            font-size: 0.745rem;
            white-space: nowrap;
        }
    }
}

.title {
    border-bottom: 1px solid rgb(52, 58, 64);
    display: inline-block;
    padding-bottom: .15rem;
}



#products {
    background: url("../images/ptrn.png") center/cover;

    .product {
        transition: all 300ms;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 19.4px 0.6px rgba(0, 0, 0, 0.06);
        min-height: 200px;

        p {
            font-weight: 100;
            font-size: 1.2rem;
        }
    }

    .product:hover {
        background-color: #00c100;
        color: #ffffff;
    }

}



#features {

    .feature {
        transition: all 300ms;
        min-height: 260px;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.03);

        p {
            font-weight: 100;
            font-size: 1.2rem;
        }
    }

    .feature:hover {
        transform: scale(1.1);
    }
}

#carousel {
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.03);
    padding: 6rem;


    .carousel-control-prev {
        left: -6rem;
    }

    .carousel-control-next {
        right: -6rem;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        background-size: 100%, 100%;
        border-radius: 50%;
        background-image: none;
    }

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 80px;
        font-weight: bold;
        color: #b3b3b3;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 80px;
        font-weight: bold;
        color: #b3b3b3;
    }

    .carousel-indicators li {
        width: 20px;
        height: 20px;
        background-color: #00c100;
        border-radius: 100%;
    }

    .carousel-indicators {
        bottom: -10.5rem;
    }
}



#about {
    background: url("../images/ptrn.png") center/cover;

    .about__description {
        margin-top: 6rem;
        position: relative;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.03);
        padding: 3rem;

        .about__description--logo {
            position: absolute;
            left: -5rem;
            top: -2.9rem;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.03);

        }

        .about__description--text {
            font-size: 1.2rem;
        }
    }

    .about__nav {
        margin-top: 6rem;
        box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.03);
        border-radius: 30px;

        .about__nav--item {


            h5 {
                font-weight: 600;
            }

            p {
                font-weight: 100;
            }

        }

        .about__nav--item:hover {
            cursor: pointer;
        }


    }
}


#contacts {
    .contacts__form-container {

        padding-bottom: 6rem;


        .contacts__input--data {
            box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.03);
            border-radius: 30px;
            color: #343a40;
            white-space: nowrap;
        }

        .contacts__icon {
            box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.03);
            border-radius: 30px;
            padding: 2.4rem;
        }

        input:not([type="checkbox"]) {
            box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.03);
            border-radius: 30px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
        }

        ::placeholder {
            /* Most modern browsers support this now. */
            color: #343a40;
        }

        .form-check {
            padding-left: 0;
        }

        button {
            border-radius: 2rem;
            box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.03);
        }

    }

}






@media(max-width: 768px) {
    .title {
        border: none;
        padding: 0;

    }

    #features {
        #carousel {

            .carousel-control-prev {
                left: -5rem;
            }

            .carousel-control-next {
                right: -5rem;
            }

            .carousel-control-next-icon:after {
                font-size: 60px;
            }
        
            .carousel-control-prev-icon:after {
                font-size: 60px;
            }

        }

    }


    #navbar {

        .navbar {
            .nav-item {
                margin: 0;
            }

            .nav-link:hover {
                transform: none;
            }
        }

    }


    #showcase {

        .header {
            width: 100%;
            margin-top: 4rem;

            h1 {
                font-size: 2.325rem;
            }
        }
    }

    #contacts {
        .contacts__input--data {
            font-size: 0.7rem;
        }
    }

}


@media(max-width: 768px) {
    
    #features {
        #carousel {

            .carousel-control-prev {
                left: -4rem;
            }

            .carousel-control-next {
                right: -4rem;
            }

            .carousel-control-next-icon:after {
                font-size: 50px;
            }
        
            .carousel-control-prev-icon:after {
                font-size: 50px;
            }

        }

    }
}